<% content_for :title, "Microcréditos" %>

<div class="content-content cols microcredits-wrapper">
  <div class="row">
    <div class="col-b-4a12">
      <h2>Microcréditos Más Madrid</h2>
      <!--<p><%= image_tag "microcredits.jpg", alt: "Vamos a financiar la campaña con microcréditos concedidos por la gente. ¿Nos ayudas?", width: "90%" %></p>-->
      <h3>Desde el 18 de Octubre</h3>
      <p>La financiación de Más Madrid se caracteriza por tres elementos que nos diferencian del resto de partidos:</p>
      <ul>
        <li><strong>Independencia:</strong> En Más Madrid no queremos depender de bancos ni de los poderes económicos y por eso nuestro objetivo ha sido ampliar al máximo la base de donantes y colaboradores..
        </li>
        <li><strong>Innovación:</strong> Para conseguir ampliar la base de donantes apostamos desde el inicio por desarrollar vías de financiación innovadoras basadas en herramientas web como el crowdfunding, los microcréditos o las colaboraciones periódicas no obligatorias.</li>
        <li><strong>Transparencia:</strong> En Más Madrid practicamos la transparencia que queremos ver en las instituciones. En nuestros estatutos nos comprometimos a publicar nuestras cuentas en la web.</li>
      </ul>

      <p><%= image_tag "logo-masmadrid.svg", alt: "Más Madrid.", width: "30%" %></p>

      <div class="buttonbox">
        <%= link_to "Colaborar", microcredit_path, class: 'button' %>
      </div>
      <p><br/></p>
      <p>Si necesitas más información, envíanos tus dudas a <a href="mailto:contacto@masmadrid.org">contacto@masmadrid.org</a>.</p>
    </div>
  </div>
</div>


