<p>Querida compa침era, querido compa침ero</p>

<p>Hemos validado correctamente tu documento de identidad</p>

<p>Muchas gracias por participar en el proceso de verificaci칩n</p>

<p>Un saludo</p>

<p>M치s Madrid</p>
