<% content_for :title, 'Primarias Más Madrid' %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12 privacy-policy">
      <h1 class="titulo-candidaturas">Primarias Más Madrid</h1>
      <iframe height="800" width="100%" frameborder="0" src="/ver-candidaturas.php"></iframe>
    </div>
  </div>
</div>
