/* -----------------------------------
Variables Sass para participa MM
------------------------------------*/
$verde-oscuro:#004732;
$verde-claro:#54efa5;
$ocre-login: #efaf62;
$marron-unete: #a93e37 ;
$background-error: #ff050014;